
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
body {
        background-color: #fff;
        font-family: "Trebuchet MS", Helvetica, sans-serif;

}
}
#header{
    padding-left: 10px;
    background-color: #404040;
    padding-bottom: 1px;
    padding-top: 1px;
    
}
#name{
    color: #fff;
    font-size:xx-large;
    margin-bottom: -25px:
}
#job-title{
    margin-top: -30px;
    color: #A1A1A1;
}

nav {width: auto;
     height: 113px ;
     background-color: #F6F2EF;
     display: flex;
     margin-bottom: -25px;
}
nav li{display: inline;
      padding: 1em; 
}
nav a {
       color: #A1A1A1;
       text-decoration: none;
}
main{
     margin-left: 0; 
	 font-size: 90%;
	 }
.icons{
    margin-top: 42px;
    padding-left: 0;
    
}	 
.words{
    margin-top: 42px;
    text-align: right
}

.articles{
    width: auto;
    height: 30px;
    vertical-align: middle;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #A1A1A1;
    padding-left: 10px;
}
p{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #A1A1A1;
}
div{
    font-family: "Trebuchet MS", Helvetica, sans-serif;

}
#needed{
    margin-top: -15px;
}
@media (min-width: 570px) {
   #div1{
       display: flex;
       justify-content: space-around;
   } 
   ul{
      display: flex;
   }
   
}

