@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

}
body {
        
        font-family: "Trebuchet MS", Helvetica, sans-serif;
}
#header{
    background-color: #404040;
    padding-bottom: 1px;
    padding-top: 1px;
    
}
#name{
 color: white;
 margin-bottom: -20px;
} 
#job-title{
 padding-top: -20px;
}
h2{
   text-align: center;
   color: #A1A1A1;
}
fieldset{
background-color: #F3F2F0;

}
legend{
 font-size: x-large;
}
.required{
  color: red;

}
nav{
     display: flex;
     background-color: #F6F2EF;
     height: 113px;
     justify-content: space-between;
}

li{
    display: inline;
    list-style-type: none;
}
#icons{
    margin-top: 20px;
    text-align: left;
 
}
#words{
    margin-top: 20px;
    text-align: right;
}
a{
    color: #A1A1A1;
}
a:hover{
    color: red;
}
    a:visit{
        color: blue;
    }
    
@media (min-width: 481px) {

    #div1{
        display: flex;
        justify-content: space-between;
        background-color: #F3F2F0;
        color: #A1A1A1;
    }
    #header{
        background-color: #F3F2F0;
        
    }
    #name{
        color: #A1A1A1;
    }
    .articles{
         text-align: center;
    }
li{
        display: block;
        list-style-type: circle;
}